<h2 class="text-center text-2xl font-semibold py-2">
    User Posts
</h2>

<a href="posts/add">
    <div class="block bg-slate-600 text-center text-white hover:bg-slate-500">
        Write a post
    </div>
</a>

{{!-- <div class="p-4">
    <p class="font-medium pb-2">
        Post Title
    </p>

    <ol>
        {{#each posts}}
        <li><a class="hover:font-medium" href="/posts/{{slug}}">{{title}}<a></li>
        {{/each}}
    </ol>
</div> --}}

<div class="grid grid-cols-8 gap-y-1 py-3 px-12">
    <p class="font-semibold col-span-5">Title</p>
    <p class="text-center font-semibold">Author</p>
    <p class="text-center font-semibold">Post Time</p>
    <p class="text-center font-semibold">Views</p>
    
    {{#each posts}}
    <a class="hover:font-medium col-span-5" href="/posts/{{slug}}">{{title}}</a>
    <p class="text-center">{{writtenBy.username}}</p>
    <p class="text-center">{{postedTime}}</p>
    <p class="text-center">{{views}}</p>
    {{/each}}
</div>

<hr class="py-2">

<div class="w-max mx-auto">
    <form method="GET" action="/posts">
        <label for="searchQuery">Search: </label>
        <select class="border-2 rounded-sm border-black" id="searchOption" name="searchOption">
            <option value="title">Title</option>
            <option value="content">Content</option>
        </select>
        <input class="border-2 rounded-sm border-black w-[200px]" type="text" name="searchQuery" value="">
        <input class="border-2 rounded-sm border-black px-2 bg-slate-200 hover:bg-slate-300" type="submit" value="search">
    </form>
</div>